* {
  box-sizing: border-box;
}
nav {
    background-color: #000000; 
    z-index: 10;
    padding:2px 16px;
    font-family:'Raleway';
    position:fixed;
    width:100%;
    transition:.6s;
}

nav.scrolled{
    background:#fff;
    box-shadow: 0px 4px 4px 0px rgba(50,50,50,0.1);
}

nav.scrolled + .logo img{
    height:60px;

}

nav ul{
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

nav ul a{
    text-decoration: none;
    color:#ffffff;
    margin:0 40px;
    font-size:14px;
    text-transform: uppercase;

}

.note
{
    text-align: center;
    height: 80px;
    background: -webkit-linear-gradient(left, #000000, #474747);
    color: #fff;
    font-weight: bold;
    line-height: 80px;
}
.form-content
{
    padding: 5%;
    border: 1px solid #ced4da;
    margin-bottom: 2%;
}
.form-control{
    border-radius:1.5rem;
}
.btnSubmit
{
    border:none;
    border-radius:1.5rem;
    padding: 1%;
    width: 20%;
    cursor: pointer;
    background: #000000
    color: #474747;
}

  .menu-btn {
    z-index:10;
    color:#474747;
    display:block;
    position: fixed;
    right:16px; top: 16px;
    font-size:64px;
    transition:.4s;
    font-family:'Roboto Slab';
    cursor: pointer;
    transform:rotate(0deg);
  }

  .menu-btn.active {
    transform:rotate(45deg);
  }
}