<html>

<head>
	<title> About Us! </title>
	<link rel="stylesheet" href="static/css/style4.css?q={{time}}" type="text/css" </head> <div class="about-section">
        
	<h1>About Us Page</h1>
	<p> Meet the team behind this project. </p>
	<p>QuickCook was made by struggling cooks for struggling cooks.</p>
	</div>

	<h2 style="text-align:center">Our Team</h2>
	<div class="row">
		<div class="column">
			<div class="card">
				<img src="static/images/img1.jpg" alt="Chelsea" width="100%" height="472">
				<div class="container">
					<h2>Chelsea H</h2>
					<p class="title">Co-Founder, Coding Specialist</p>
					<p>Chelsea Haye is a freelance full-stack web developer and business analyst. She is studying computer science and mathematics with minors in biochemistry and cosmetology. She has worked as a freelance technology consultant for many startups.</p>
					<p>chaye@brooklynfriends.org</p>
					<p><button class="button">Contact</button></p>
				</div>
			</div>
		</div>

		<div class="column">
			<div class="card">
				<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/94/Stick_Figure.svg/1200px-Stick_Figure.svg.png" alt="Daniel" width="100%" height="472">
				<div class="container">
					<h2>Daniel R</h2>
					<p class="title">Co-Founder, Financial Manager</p>
					<p>Some text that describes me lorem ipsum ipsum lorem.</p>
					<p>daniel@example.com</p>
					<p><button class="button">Contact</button></p>
				</div>
			</div>
		</div>

		<div class="column">
			<div class="card">
				<img src="static/images/img2.png" alt="Jonathan" width="100%" height="472">
				<div class="container">
					<h2>Jonathan M</h2>
					<p class="title"> Co-Founder, Financial Advisor</p>
					<p>Some text that describes me lorem ipsum ipsum lorem.</p>
					<p>jonathan@example.com</p>
					<p><button class="button">Contact</button></p>
				</div>
			</div>
		</div>
		<div class="column">
			<div class="card">
				<img src="https://i.dlpng.com/static/png/6351621_preview.png" alt="Nancy" width="100%" height="472">
				<div class="container">
					<h2>Nancy C</h2>
					<p class="title">Co-Founder, Coding Specialist</p>
					<p>Some text that describes me lorem ipsum ipsum lorem.</p>
					<p>sovsauce@gmail.com</p>
					<p><button class="button">Contact</button></p>
				</div>
			</div>
		</div>
	</div>

</html>