<html>

<head>
	<title> About Us! </title>
	<link rel="stylesheet" href="static/css/aboutus.css?q={{time}}" type="text/css" </head> <div class="about-section">
	<div class="container">

		<h1>About Us Page</h1>
		<p> Meet the team behind this project. </p>
		<p>QuickCook was made by struggling cooks for struggling cooks.</p>
	</div>

	<h2 style="text-align:center">Our Team</h2>
	<div class="row">
		<div class="column">
			<div class="card">
				<img src="static/images/img1.jpg" alt="Chelsea" width="100%">
				<div class="container">
					<h2>Chelsea H</h2>
					<p class="title">Co-Founder, Coding Specialist</p>
					<p>Chelsea Haye is a freelance full-stack web developer and business analyst. She is studying
						computer science and mathematics aiming for minors in biochemistry and cosmetology. She has
						worked as
						a freelance technology consultant for many startups. She cooks for her family daily and enjoys experimenting with recipes from her multicultural family.</p>
					<p>chaye@brooklynfriends.org</p>
					<p><button class="button">Contact</button></p>
				</div>
			</div>
		</div>

		<div class="column">
			<div class="card">
				<img src="static/images/img4.jpg" alt="Daniel" width="100%">
				<div class="container">
					<h2>Daniel R</h2>
					<p class="title">Co-Founder, Financial Manager</p>
					<p>An entrepreneur and CEO who doesn’t have much experience in cooking, but loves food and try new
						things. He has inspired many young entrepreneurs.</p>
					<p>daniel@example.com</p>
					<p><button class="button">Contact</button></p>
				</div>
			</div>
		</div>

		<div class="column">
			<div class="card">
				<img src="static/images/img2.png" alt="Jonathan" width="120%">
				<div class="container">
					<h2>Jonathan M</h2>
					<p class="title"> Co-Founder, Financial Advisor</p>
					<p>An entrepreneur that is experienced in cooking.</p>
					<p>jonathan@example.com</p>
					<p><button class="button">Contact</button></p>
				</div>
			</div>
		</div>
		<div class="column">
			<div class="card">
				<img src="static/images/img3.jpg" alt="Nancy" width="100%">
				<div class="container">
					<h2>Nancy C</h2>
					<p class="title">Co-Founder, Coding Specialist</p>
					<p>Nancy is a full-stack developer and a food enthusiast who loves experimenting with different
						foods.</p>
					<p>sovsauce@gmail.com</p>
					<p><button class="button">Contact</button></p>
				</div>
			</div>
		</div>
	</div>

</html>