<div class="about-section">
  <h1>About Us Page</h1>
  <p>Some text about who we are and what we do.</p>
  <p>Resize the browser window to see that this page is responsive by the way.</p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="IMAGE ADDRESS OF CHEL C" alt="Chelsea" style="width:100%">
      <div class="container">
        <h2>Chelsea H</h2>
        <p class="title">Co-Founder, Coding Specialist</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>chaye@brooklynfriends.org</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="IMAGE ADDRESS OF DANIEL" alt="Daniel" style="width:100%">
      <div class="container">
        <h2>Daniel R</h2>
        <p class="title">Co-Founder, Financial Manager</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>daniel@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="PUT IMAGE ADDRESS OF JONATHAN" alt="Jonathan" style="width:100%">
      <div class="container">
        <h2>Jonathan M</h2>
        <p class="title"> Co-Founder Financial Advisor</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>jonathan@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img src="IMAGE ADDRESS OF NANCY" alt="Nancy" style="width:100%">
      <div class="container">
        <h2>Nancy C</h2>
        <p class="title">Co-Founder, Coding Specialist</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>sovsauce@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>
