<html>

<head>
	<title> Contact Us </title>
	<link rel="stylesheet" href="static/css/style5.css?q={{time}}" type=text/css <div class="contact-section">
	<div class="container">
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/register">Register</a></li>
				<li><a href="/signin">Sign-In</a></li>
				<li><a href="/aboutus">About</a></li>
				<li><a href="/contactus">Contact Us</a></li>
                <li><a href="/recipes">Try it Out</a><li>
			</ul>
		</nav>

		<div class="menu-btn">
			+
		</div>


</head>

<body>
	<div class="container">
		<div style="text-align:center">
			<h2>Contact Us</h2>
			<p>Swing by for a cup of coffee, or leave us a message:</p>
		</div>
		<div class="row">
			<div class="column">
				<img src="https://files.slack.com/files-pri/T016QBC0CRW-F017P7QCP6J/image_from_ios.png" style="width:100%">
    </div>
				<div class="column">
					<form>
						<label for="fname">First Name</label>
						<input type="text" id="fname" name="firstname" placeholder="Your name..">
						<label for="lname">Last Name</label>
						<input type="text" id="lname" name="lastname" placeholder="Your last name..">
        </select>
						<label for="subject">Subject</label>
						<textarea id="subject" name="subject" placeholder="Write something.." style="height:170px"></textarea>
						<input type="submit" value="Submit">
      </form>
				</div>
			</div>
		</div>
</body>

</html>