<html>

<head>
	<title>Make a Donation</title>
	<link rel="stylesheet" href="static/css/style5.css?q={{time}}" type=text/css <div class="contact-section">
    <form action="/donate">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <div class="container">
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/register">Register</a></li>
                    <li><a href="/signin">Sign-In</a></li>
                    <li><a href="/aboutus">About</a></li>
                    <li><a href="/contactus">Contact Us</a></li>
                    <li><a href="/recipes">Try it Out</a><li>
                    <li><a href="/donate">Donate</a><li>

                </ul>
            </nav>

            <div class="menu-btn">
                +
            </div>
</head>

<body id="reg">
    <h4> Make an impact. Your donations will allow us to eventually expand our databases and allow us to give promotions to those that need it. </h4>
<form>
  <label>
    <p class="label-txt">Donation Amount</p>
    <input type="number" class="input">
    <div class="line-box">
      <div class="line"></div>
    </div>
  </label>
  <label>
    <p class="label-txt">Your first name</p>
    <input type="text" class="input">
    <div class="line-box">
    <div class="line"></div>
    </div>
   </label>
   <label>
    <p class="label-txt">Your last name</p>
    <input type="text" class="input">
    <div class="line-box">
    <div class="line"></div>
    </div>
    </label>
   <label>
    <p> I am fine with being listed as one of the donors </p> 
    <input type="checkbox" class="input">
    </label>
    <div>
    <label>
  <button type="submit">Donate</button>
    </label>
    </div>
</form>
</body>

</html>