
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width-device--wdith, initial-scale=1.8">
        <meta http-equiv="X-UA-Compatible" content="ie-edge">
        <title>QuickCook</title>
        <link rel="stylesheet" href="static/css/style.css" type="text/css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
    crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@800&family=Roboto&display=swap" rel="stylesheet">
    </head>
    <body>
        <!-- Heading Code -->
        <div class="heading">
            <span class="title1"> QuickCook </span>
            <span class="title2">Anyone can find the perfect recipe </span>
            <a href="/register">
            <button class="register">
                REGISTER NOW
            </button>
            </a>
        </div>
        <!-- Menu Code -->
        <div class ="container">
            <nav>
                <ul>
                    <li> <a href="#">Home</a></li>
                    <li> <a href="#">Register</a></li>
                    <li> <a href="#">Sign-In</a></li>
                    <li> <a href="#">About Us</a></li>
                </ul>
            </nav>

          <div class="logo">
              <img src ="https://files.slack.com/files-pri/T016QBC0CRW-F017C0RLNUF/image_from_ios.png" alt="QuickCook">
          </div>
          <div class="menu-btn">

            </div>
            <section class="section-follow">
                <h3 class ="follow me"> Follow us On</h3>
                <div class ="social-media">
                    <i class ="fab.fa-facebook"></i>
                    <i class ="fab.fa-twitter-square"></i>
                    <i class ="fab.fa-instagram"></i>
                    <i class ="fab.fa-linkedin"></i>
                    </div>
            </section>
            <section>
                <div class="description">
                    <h3> Who are we? </h3>
                    <p> insert who we are </p>
                </div>
                <div class="image">
                    <img src="https://www.heart.org/-/media/aha/h4gm/article-images/healthy-cooking.jpg?h=641&la=en&mw=1140&w=1140&hash=8F50F7FAFB71F67F96F145183FAFF0291D52F3FC" alt="Image for Who are We">
                </div>
             </section>
             <section>
                 <div class="description">
                     <h3> Mission Statement </h3>
                     <p> misson statement info </p>
                 </div>
                 <div class ="image">
                     <img src="https://food.fnr.sndimg.com/content/dam/images/food/fullset/2019/7/17/QK0102_Kardea.jpg.rend.hgtvcom.616.462.suffix/1563396501676.jpeg" alt="Mission Statemtn Image">
                    </div>
                 </section>

                 <section>
      <div class="description">
        <h3>Other Category</h3>
        <p>other category info/p>
      </div>
      <div class="image">
          <img src="https://parentology.com/wp-content/uploads/2019/09/benefits-of-eating-together-as-a-family-main.jpg" alt="Other Info Picture">
        </div>
    </section>
    <footer>
        QuickCook &copy; 2020
    </footer>
    </div>

    <script src="main.js"></script>

    </body>
</html>
