<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
		integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Raleway:800|Roboto+Slab" rel="stylesheet">
	<link rel="stylesheet" href="static/css/style.css?q={{time}}">

	<title>QuickCook</title>
</head>

<body>

	<div class="container">
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/register">Register</a></li>
				<li><a href="/signin">Sign-In</a></li>
				<li><a href="/aboutus">About</a></li>
				<li><a href="/contactus"> Contact Us </a></li>
				<li><a href="/recipes"> Try it Out</a>
				<li>
				<li><a href="/donate">Donate</a></li>

			</ul>
		</nav>

		<div class="menu-btn">
			+
		</div>


		<header class="header1">
			<br>
			<br>
			<br>

			<h1 style="color: black" ;>QuickCook</h1>
			<h2>YOU can find the perfect recipe</h2>
			<a href="/register">
				<button class="register">
                REGISTER NOW
            </button>
			</a>

		</header>



		<section class="section-alternating">
			<div class="description">
				<h3>What's QuickCook?</h3>
				<p>QuickCook is a website that provides a series of healthy and diverse recipes. QuickCook promotes
					healthiness and diversity by allowing people to explore different dishes and tastes from around the
					globe.</p>
			</div>
			<div class="image">
				<img src="https://www.heart.org/-/media/aha/h4gm/article-images/healthy-cooking.jpg?h=641&la=en&mw=1140&w=1140&hash=8F50F7FAFB71F67F96F145183FAFF0291D52F3FC" alt="Who are We?">
      </div>
		</section>

		<section class="section-alternating">
			<div class="description">
				<h3>Mission Statement</h3>
				<p>We aim to provide simple and healthy recipes to promote diversity, self-confidence and a healthy
					lifestyle by setting up an accessible software that will allow people to learn about other cultures
					through simple recipes.</p>
			</div>
			<div class="image">
				<img src="static/images/breakfast-from-above.jpg" alt="Mission Statement">
      </div>
		</section>

		<section class="section-alternating">
			<div class="description">
				<script src="https://cdn.logwork.com/widget/countdown.js"></script>
				<a href="https://logwork.com/countdown-uww" class="countdown-timer" data-style="flip2"
					data-timezone="America/New_York" data-textcolor="#ffffff" data-date="2021-08-01 00:00">App Launch
					In</a>
			</div>
			<div class="image">
				<img src="static/images/hotel-breakfast-room-service.jpg" alt="Other Info">
      </div>
		</section>
		<section class="section-follow">
			<h3 class="follow-me">Follow Us On</h3>
			<div class="social-media">
				<i class="fab fa-facebook"></i>
				<i class="fab fa-twitter-square"></i>
				<i class="fab fa-instagram"></i>
				<i class="fab fa-linkedin"></i>
			</div>
		</section>

		<footer class="section-alternating">
			QuickCook &copy; 2020
		</footer>

	</div>

	<script src="main.js"></script>

</body>

</html>