<!-- <html>
<head>
<script>
function showResult(str) {
  if (str.length==0) {
    document.getElementById("livesearch").innerHTML="";
    document.getElementById("livesearch").style.border="0px";
    return;
  }
  var xmlhttp=new XMLHttpRequest();
  xmlhttp.onreadystatechange=function() {
    if (this.readyState==4 && this.status==200) {
      document.getElementById("livesearch").innerHTML=this.responseText;
      document.getElementById("livesearch").style.border="1px solid #A5ACB2";
    }
  }
  xmlhttp.open("GET","livesearch.php?q="+str,true);
  xmlhttp.send();
}
</script>
</head>
<body>

<form>
<input type="text" size="30" onkeyup="showResult(this.value)">
<div id="livesearch"></div>
</form>

</body>
</html> -->
<html>

<head>
	<title>Welcome!</title>
	<link rel="stylesheet" href="static/css/contactus.css?q={{time}}" type=text/css <div class="contact-section">
        <div class="container">
            
</head>

<body>

    
	<h1>What is the recipe you desire?</h1>
	<form method="post" action="/recipes_results">
		<input type="text" name="ingredients" placeholder="What ingredients would you like to use?"/>
		<input type="text" name="diet" placeholder="Are you on a diet?"/>
		<input type="text" name="exclude" placeholder="What do you want to exclude from these recipes?"/>
		<input type="text" name="intolerances" placeholder="Any intolerances?"/>
        <input type="text" name="number" placeholder="How many recipes would you like?"/>
		<input type="submit" value="Submit"/>
        </form>
</body>

</html>