<html>

<head>
	<title>Register!</title>
	<link rel="stylesheet" href="static/css/style5.css?q={{time}}" type=text/css <div class="contact-section">
    <form action="/register">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="container">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/register">Register</a></li>
                <li><a href="/signin">Sign-In</a></li>
                <li><a href="/aboutus">About</a></li>
                <li><a href="/contactus">Contact Us</a></li>
                <li><a href="/recipes">Try it Out</a><li>
                <li><a href="/donate">Donate</a><li>

            </ul>
        </nav>

        <div class="menu-btn">
            +
        </div>
</head>

<body id="reg">

<form>
  <label>
    <p class="label-txt">ENTER YOUR EMAIL</p>
    <input type="text" class="input">
    <div class="line-box">
      <div class="line"></div>
    </div>
  </label>
  <label>
    <p class="label-txt">ENTER YOUR NAME</p>
    <input type="text" class="input">
    <div class="line-box">
      <div class="line"></div>
    </div>
  </label>
  <label>
    <p class="label-txt">ENTER YOUR PASSWORD</p>
    <input type="text" class="input">
    <div class="line-box">
      <div class="line"></div>
    </div>
  </label>
  <button type="submit">submit</button>
      <div>
        <a href="/signin">Already have an account? Sign In.</a>
    </div>
</form>
</body>

</html>