<html>

<head>
	<title>Sign-In!</title>
	<link rel="stylesheet" href="static/css/style5.css?q={{time}}" type=text/css <div class="contact-section">
    <form action="/signin">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/register">Register</a></li>
                <li><a href="/signin">Sign-In</a></li>
                <li><a href="/aboutus">About</a></li>
                <li><a href="/contactus">Contact Us</a></li>
                <li><a href="/recipes">Try it Out</a><li>
                <li><a href="/donate">Donate</a><li>
            </ul>
        </nav>

        <div class="menu-btn">
            +
        </div>

</head>

<body id="reg">
    

<form>
    <label>
        <p class="label-txt">ENTER YOUR USERNAME</p>
        <input type="text" class="input">
        <div class="line-box">
        <div class="line"></div>
        </div>
    </label>
    <label>
        <p class="label-txt">ENTER YOUR PASSWORD</p>
        <input type="text" class="input">
        <div class="line-box">
        <div class="line"></div>
        </div>
    </label>
    <div>
    <button type="submit">Submit</button>
    </div>
    <div>
        <a href="/forgot_password">Forgot Your Password?</a>
    </div>
    <div>
        <a href="/forgot_username">Forgot Your Username?</a>
    </div>
</form>

</body>

</html>